/* *{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
} */



@charset "UTF-8";
.brand{
	margin-left:125px;
	color: white;
}

*{
	scroll-behavior: smooth;
	padding:0;
	margin:0;
}

.heading{
	font-size: 300%;
	background-color: black;
	color:white;
	padding-top:70px;
	padding-bottom: 20px;
}

#hl,#hl2,#hl3,#hl4{
	color:#FFE227;
}

.brand-footer{
	color:white;
}

.footer-data{
	color: white;
	text-align: center;
	
}

.footer{
	width:100%;
	position: absolute;
	background-color: black;
	color:white;
	padding-top:35px;
	padding-bottom: 20px;
}
.navbar-header{
	padding-top: 20px;
	padding-bottom: 15px;
}

.navbar-nav{
	padding-top: 35px;
	margin-left: 10rem;
}
img{
	height: 500px;
	width: 350px;
	border-radius:5px;
/* 	object-fit: cover; */
}

.card-container{
	display: flex;
}
	
body{
/* 	display: flex;	 */
	justify-content: center;
	height: 100vh;
	align-items: center;
}

.card{
	height: 500px;
	margin: 50px;
	box-shadow: 5px 5px 20px black; 
	overflow: hidden;
}

*{
	font-family: 'Nunito';
}

body{
	text-align: center;
}

.intro{
	height: 70px;
	width: 350px;
	padding:6px;
	box-sizing: border-box;
	position: absolute;
	top: 1095px;
	background: rgb(27,27,27,0.5);
	color: white;
	transition:0.5s;
}

h1{
	margin: 10px;
	font-size: 40px;
}

p{
	font-size: 20px;
	margin: 20px;
	visibility: hidden;
	opacity: 0;
/* 	bottom:1500px; */
}

.btn{
	margin-bottom: 5%;	
}

span{
	font-weight:bold;
}

.card:hover{
	cursor:pointer;
}

.card:hover .intro{
	height: 220px;
	bottom: 240px;
	background: black;
}

.card:hover p{
	opacity: 1;
	visibility: visible;
}

card:hover img{
	transform: scale(111) rotate(-3deg);
	
}

.textbox3{
  text-align: center;
  position: fixed;
  bottom:0;
  width:100%;
 
  
  
}
.btn{
	background-color: black;
}




.btn:hover{
	background-color:black;
	color:#FFE227;
}