<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>cinephile</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>user.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserInput</display-name>
    <servlet-name>UserInput</servlet-name>
    <servlet-class>UserInput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInput</servlet-name>
    <url-pattern>/UserInput</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInputTwo</display-name>
    <servlet-name>UserInputTwo</servlet-name>
    <servlet-class>UserInputTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInputTwo</servlet-name>
    <url-pattern>/userinput</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Schedule</display-name>
    <servlet-name>Schedule</servlet-name>
    <servlet-class>Schedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Schedule</servlet-name>
    <url-pattern>/schedule</url-pattern>
  </servlet-mapping>
</web-app>